body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', serif;
}

/* ----------------
Top Section Style Started
-------------------*/
.top-section{
display:grid;
grid-template-columns: repeat(2, 1fr);
grid-column-gap:70px;
max-width: 1200px;
margin:0 auto;
padding:0 20px;
align-items: center;

}
.top-section h1{
margin-bottom:10px;
    font-size: 52px;
    font-weight:700px;  
}


.top-section img{
    width:90%;
}
.btn{
    border-radius: 41px;
    background-color: #E02C6D;
    padding: 8px 25px;
    text-decoration: none;
    color:white;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}
/* Media Query For Responsiveness */

/* For Tablet View */
@media only screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
  .top-section {
      display: grid;
      justify-content: center;
    grid-template-columns: repeat(1, 1fr);
max-width:80%;
  }

  .top-section img{
      margin-top:30px;
  }
}
/* For Mobile Portrait View */
@media only screen and (min-width: 200px) and (max-width:768px){
    .top-section {
        display: grid;
        justify-content: center;
      grid-template-columns: repeat(1, 1fr);
     max-width:90%;
    }
    .top-section img{
        margin-top:30px;
        width:100%;
    }
}
